body{
    background-color: rgb(242, 246, 246);
}
.name{
    color: rgb(104, 19, 232);
    text-align: center;
}
.sub{
    color: rgb(203, 245, 17);
    text-align: center;
}
.about{
    color: rgb(255, 0, 0);
    font-size: 22px;

}
#des{
    color: #7410ee;
    font-size: 20px;
}
.ex{
    color: rgb(192, 228, 13);
}

.box{
    
    border: 3px solid #8608ec;
    margin: 80px;
    padding: 10px;
    /*height: 50px;*/
    width: 100%;
}

.box div{
    border: 1px solid #8608ec;
    width: 30px;

}

.box{
    display: flex;
    /*flex-direction:column-reverse;*/
    justify-content:flex-start;
}